.mstheme
{
    navbutton-background-color: rgb(255,255,255);
    top-bar-button: url(sumglob.gif)
}
.mstheme-topbar-font
{
    FONT-SIZE: 8pt;
    COLOR: #666699;
    FONT-FAMILY: Arial, Arial, Helvetica
}
A:link
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    COLOR: #00659c;
    BORDER-BOTTOM: medium none;
    TEXT-DECORATION: none
}
BODY
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
BUTTON
{
    BORDER-RIGHT: 1pt solid;
    BORDER-TOP: 1pt solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1pt solid;
    BORDER-BOTTOM: 1pt solid;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica
}
CAPTION
{
    FONT-SIZE: 14pt;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
FIELDSET
{
    BORDER-RIGHT: 1pt solid;
    BORDER-TOP: 1pt solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1pt solid;
    BORDER-BOTTOM: 1pt solid;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica
}
FORM
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
H1
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 24pt;
	COLOR: Black;
	FONT-FAMILY: Arial
}
H2
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 16pt;
	COLOR: Gray;
	FONT-FAMILY: Arial
}
H3
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 14pt;
	COLOR: Silver;
	FONT-FAMILY: Arial
}
H4
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #9c9a9c;
    FONT-FAMILY: Arial
}
H5
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Arial
}
H6
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial
}
LABEL
{
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica
}
LABEL
{
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica
}
.mstheme-label
{
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica
}
LEGEND
{
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
LI
{
	MARGIN-TOP: 0px;
	FONT-SIZE: 10pt;
	LIST-STYLE-IMAGE: ..\..\images\circle_sm.gif;
	MARGIN-LEFT: 0px;
	COLOR: #000000;
	FONT-FAMILY: Arial
}
MARQUEE
{
    FONT-SIZE: 14pt;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
OL
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
P
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
SELECT
{
    BORDER-RIGHT: 1pt solid;
    BORDER-TOP: 1pt solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1pt solid;
    BORDER-BOTTOM: 1pt solid;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica
}
TABLE
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
TBODY
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Arial
}
TD
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
TEXTAREA
{
    BORDER-RIGHT: 1pt solid;
    BORDER-TOP: 1pt solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1pt solid;
    BORDER-BOTTOM: 1pt solid;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica
}
TH
{
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TR
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
UL
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
A:visited
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    COLOR: #00659c;
    BORDER-BOTTOM: medium none;
    TEXT-DECORATION: none
}
A:hover
{
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	BORDER-LEFT: medium none;
	COLOR: black;
	BORDER-BOTTOM: #cccccc 1pt solid
}
